# LaTeX temporary and output files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.synctex.gz
*.toc
*.nav
*.snm
*.vrb
*.dvi
*.ps
*.pdf
*.ptd
*.bak
*.backup
*.synctex(busy)

# Folders
*/*.aux
*/*.log
*/*.toc
*/*.lof
*/*.lot
*/*.out
*/*.ptd
*/*.synctex(busy)